.App {
  text-align: center;
}

.buttonStyle{
  background-color: #040707;
  border-color: #090d0e;
  color: white;
  border-radius: 25px;
  padding: 5px;
  margin: 1em;
  position: relative;
}
.buttonStyle:hover{
  background-color: #084242;
}
